<mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!"
  [linear]="true">
    <mat-step [stepControl]="configurationFormGroup">
      <form [formGroup]="configurationFormGroup">
        <ng-template matStepLabel>Configuration</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Select Platform</mat-label>
            <mat-select required formControlName="platformCtrl" >
              <mat-option *ngFor="let platform of platforms" [value]="platform">{{platform}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Select Sport</mat-label>
            <mat-select required formControlName="sportCtrl" >
              <mat-option *ngFor="let sport of sports" [value]="sport">{{sport}}</mat-option>
            </mat-select>
          </mat-form-field>
        <div>
            <button mat-raised-button matStepperNext color="primary" (click)="fetchPlayers()">View Eligible Players</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="playerFormGroup">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary"  matStepperNext >Next</button>
      </div>
      <form [formGroup]="playerFormGroup">
        <ng-template matStepLabel>Review Players</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Player List</mat-label>
          <mat-chip-list #chipList aria-label="Player selection" formControlName="playersCtrl">
            <mat-chip *ngFor="let player of playerList" [selectable]="selectable"
                     [removable]="removable" (removed)="removePlayer(player)">
              {{player.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder=""
                   matInput 
                   [matChipInputFor]="chipList"
                   >
          </mat-chip-list>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="gaFormGroup">
      <form [formGroup]="gaFormGroup">
        <ng-template matStepLabel>Generate Lineups</ng-template>
        <mat-form-field appearance="fill" >
          <mat-label>Population Count</mat-label>
          <input matInput formControlName="populationCtrl"  [value]="population" required>
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Generation Count</mat-label>
          <input matInput formControlName="generationCtrl"  [value]="generations" required>
        </mat-form-field>
        <div>
          <button mat-button (click)="generateLineups()">Generate Lineups</button>
        </div>
      </form>
    </mat-step>
</mat-stepper>
