<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary">  
  <h1>  
  AI DFS 
  </h1>  
</mat-toolbar>
<div>

  <mat-form-field appearance="outline">
    <mat-label>Select Platform</mat-label>
    <mat-select>
      <mat-option *ngFor="let platform of platforms" [value]="platform">{{platform}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Sport</mat-label>
    <mat-select>
      <mat-option *ngFor="let sport of sports" [value]="sport">{{sport}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="fetchPlayers()">View Eligible Players</button>

</div>
<div *ngIf="playerList.length > 0">
  <table mat-table [dataSource]="playerList" class="mat-elevation-z8">

    


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

  
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


       <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef> team </th>
        <td mat-cell *matCellDef="let element"> {{element.team}} </td>
      </ng-container>


        <ng-container matColumnDef="inj">
          <th mat-header-cell *matHeaderCellDef> Injury Status </th>
          <td mat-cell *matCellDef="let element"> {{element.inj}} </td>
        </ng-container>
  
    
          <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef> Salary </th>
            <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
          </ng-container>
   
        <ng-container matColumnDef="ppg_proj">
          <th mat-header-cell *matHeaderCellDef> PPG Proj </th>
          <td mat-cell *matCellDef="let element"> {{element.ppg_proj}} </td>
        </ng-container>

          <ng-container matColumnDef="value_proj">
            <th mat-header-cell *matHeaderCellDef> Value Proj </th>
            <td mat-cell *matCellDef="let element"> {{element.value_proj}} </td>
          </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
